$sizes:(            /*Mapa de tamaños*/
    jumbo: 6.8rem,
    display: 3.2rem,
    title: 2rem,
    text: 1.5rem,
    subtext: 1.2rem,
    caption: 1rem 
);

@font-face {
    font-family: PPNeueWorld;
    font-weight: bold;
    src: url("../../fonts/PPNeueWorld-SemiExtendedBlack.otf") format("otf");
}